@import './globalStyles.scss';
@import './header.scss';
@import './footer.scss';
@import './post.scss';
@import './weather.scss';
@import './country.scss';
@import './image-grid.scss';

.main-container{
    display: grid;
    width: 100vw;
    border: solid;
    border-width: 1px;
    grid-template:
    "hd" 20vh
    "ev" 1fr
    "ft"
    ;
}

.content-container{
    display: grid;
    border: solid;
    border-width: 1px;
    grid-area: ev;
    grid-template:
    "form" 40vh
    "result" 1fr
    ;
    flex-direction: column;
}

.form-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #FFFFFF;
    grid-area: form;
    justify-content: center;
}

.note-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
    align-self: center;
    justify-content: space-around;
    background-color: #FFFFFF;
}

.search-button-container{
    display: flex;
    justify-content: center;
}

.form-title{
    text-align: center;
}

.text-input{
    border:solid;
    border-width: 2px;
}

.text-input-bottom-text{
    text-align: center;
}

.result-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color:#FFFFFF;
    grid-area: result;
    justify-content: center;
    width: 100vw;
}


@media only screen and (max-width: 800px) {
    .main-container{
        grid-template:
        "hd" 
        "ev" 1fr
        "ft"
        ;
    }
}